# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage/
*.log

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# SQLite database
*.sqlite3

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS files
.DS_Store

# Linux/Unix files
*.swp
*.swo